<ion-header>
  <ion-toolbar>
    <ion-title>Edit Past Lab</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="resetValues()">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editLab()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="medium">
    <ion-text>
      <ion-title color="light">Enter new lab value here.</ion-title>
    </ion-text>
  </ion-item>
  <ion-item color="light">
    <ion-label>Lab Type: {{oldLabValues.labType}}</ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-label>Current Value: {{oldLabValues.labValue}}</ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-label>isHidden: {{oldLabValues.isHidden}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="newLabValues.labValue" type="number" required="true" clearInput="true" inputMode="numeric" placeholder="Enter new value"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button expand="full" color="danger" (click)="deleteLab()"><ion-icon name="trash"></ion-icon>&nbsp;Delete</ion-button>
</ion-footer>