<ion-content padding>
  <div class="spacer"></div>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p class="large">Strand</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer"></div>
  <form>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-md="4">
          <ion-item color="dark">
            <ion-input type="email" [(ngModel)]="user.email" name="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="4">
          <ion-item color="dark">
            <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="4">
          <ion-button color="medium" (click)="login()" expand="block">Log in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>