<ion-header>
  <ion-toolbar>
    <ion-title>Manage Lab Types</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="viewCreateLabTypePage()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-title>Create new lab types and select which labs you use.</ion-title>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let labType of labTypes | async">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <ion-label>{{labType.labType}}</ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <ion-toggle class="float-right" [checked]="labType.isMandatory" color="success" (click)="toggleIsMandatory(labType)">
            </ion-toggle>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="clear" class="float-right" (click)="deleteLabType(labType)">
              <ion-icon name="close" color="danger" ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>