<ion-header>
  <ion-toolbar>
    <ion-title>{{patient.firstName}} {{patient.lastName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="viewMemberEditPage()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title>{{labType}}</ion-title>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let lab of labs">
      <ion-grid>
        <ion-row>
          <ion-label>{{lab.labType}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note color="medium">{{lab.labValue}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{lab.date | date: 'MM/dd/yyyy'}} {{lab.date | date: 'hh:mmaa'}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>