<ion-header>
  <ion-toolbar>
    <ion-title>{{patient.firstName}} {{patient.lastName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-title>{{labType}} Values</ion-title>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let lab of labs">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <ion-row>
              <ion-label>{{lab.date | date: 'MM/dd/yyyy'}} {{lab.date | date: 'hh:mmaa'}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-note color="medium">{{lab.labValue}}</ion-note>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <ion-button color="medium" fill="clear" (click)="viewPatientLabEditPage(lab)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>