.split-pane-visible >.split-pane-side {
    min-width: 70px!important;
    max-width: 70px!important;
}

ion-list {
    padding: 0;
}

ion-menu {
    border: 0 !important;
}

ion-toolbar {
    --background: #222428;
    --color: #ffffff;
}

.centervert {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-button {
    height: 4em;
}

ion-icon {
    font-size: 2em;
}

ion-footer {
    background-color: #222428;
    border-top: 1px solid #989aa2;
}