<ion-app>
  <ion-split-pane>
    <ion-menu menuId="sideNav">
      <!-- <ion-toolbar>
        <ion-title>
          <h1>
            <ion-icon color="danger" name="heart" class="pr-1"></ion-icon>Strand
          </h1>
        </ion-title>
      </ion-toolbar> -->
      <ion-content color="dark">
        <!-- <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
        <div class="centervert">
          <ion-button expand="full" fill="clear" [color]="isDashboard ? 'light' : 'medium'"
            (click)="togglePage('dashboard')">
            <ion-icon name="ios-analytics"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isPatients ? 'light' : 'medium'"
            (click)="togglePage('patients')">
            <ion-icon name="ios-people"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isLabs ? 'light' : 'medium'" (click)="togglePage('labs')">
            <ion-icon name="ios-flask"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isPharmacists ? 'light' : 'medium'"
            (click)="togglePage('pharmacists')">
            <ion-icon name="ios-medkit"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button expand="full" fill="clear" color="medium">
          <ion-icon name="ios-settings"></ion-icon>
        </ion-button>
        <ion-button expand="full" fill="clear" color="medium">
          <ion-icon name="ios-log-out"></ion-icon>
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>