<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-toolbar color="dark">
        <ion-title>
          <h1>
            <ion-icon name="heart" class="pr-1"></ion-icon>Strand
          </h1>
        </ion-title>
      </ion-toolbar>
      <ion-content color="dark">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>