<ion-app>
  <ion-split-pane *ngIf="isLoggedIn == true">
    <ion-menu menuId="sideNav">
      <ion-content color="dark">
        <div class="centervert">
          <ion-button expand="full" fill="clear" [color]="isDashboard ? 'light' : 'medium'"
            (click)="togglePage('dashboard')">
            <ion-icon name="analytics"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isPatients ? 'light' : 'medium'"
            (click)="togglePage('patients')">
            <ion-icon name="people"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isLabs ? 'light' : 'medium'" (click)="togglePage('labs')">
            <ion-icon name="flask"></ion-icon>
          </ion-button>
          <ion-button expand="full" fill="clear" [color]="isPharmacists ? 'light' : 'medium'"
            (click)="togglePage('pharmacists')">
            <ion-icon name="medkit"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button expand="full" fill="clear" color="medium" (click)="logout()" href="../">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

  <ion-content *ngIf="isLoggedIn == false">
    <ion-router-outlet main></ion-router-outlet>
  </ion-content>
</ion-app>