.split-pane-visible >.split-pane-side {
    min-width: 200px!important;
    max-width: 200px!important;
}

ion-list {
    padding: 0;
}

ion-menu {
    border: 0 !important;
}

ion-toolbar {
    --background: #222428;
    --color: #ffffff;
}