<ion-header>
  <ion-toolbar>
    <ion-title>New Patient</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createPatient()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="medium">
    <ion-title>Enter new patient information here.</ion-title>
  </ion-item>
  <ion-item color="light">
    <ion-title>Patient Details</ion-title>
  </ion-item>
  <ion-grid>
    <ion-row size="12" size-sm>
      <ion-item>
        <ion-input required="true" autocapitalize="true" type="text" [(ngModel)]="patient.firstName" placeholder="First" clearInput></ion-input>
        <ion-input required="true" autocapitalize="true" type="text" [(ngModel)]="patient.lastName" placeholder="Last" clearInput></ion-input>
      </ion-item>
    </ion-row>
    <ion-row size="12" size-sm>
      <ion-item>
        <ion-input required="true" type="text" [(ngModel)]="patient.patientId" placeholder="Patient ID" clearInput></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>