<ion-header>
  <ion-toolbar>
    <ion-title>{{patient.firstName}} {{patient.lastName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-title>Record labs here and view patient history.</ion-title>
  </ion-item>
  <ion-list>
    <ion-item button="true" *ngFor="let labType of labTypes; let i = index">
      <ion-grid>
        <ion-row *ngIf="labType.isMandatory === true">
          <ion-badge color="primary">Mandatory</ion-badge>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md class="pt-10">
            <ion-label>{{labType.labType}}:</ion-label>
          </ion-col>
          <ion-col size="12" size-md>
            <ion-input [(ngModel)]="values[i]" type="number" required="true" clearInput="true" inputMode="numeric"
              placeholder="Enter Value" color="primary"></ion-input>
          </ion-col>
          <ion-col size="12" size-md>
            <ion-button color="light" (click)="createLab(labType, i)">
              <ion-label>
                <ion-icon name="add"></ion-icon>&nbsp;Record Value
              </ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="12" size-md class="pt-10">
            <ion-label>
              <ion-icon name="calendar"></ion-icon>&nbsp;Today
            </ion-label>
          </ion-col>
          <ion-col size="12" size-md>
            <ion-button *ngIf="labRecentValues[i] != null" color="tertiary" (click)="viewLabHistoryPage(labType)">
              <ion-icon name="filing"></ion-icon>&nbsp;View History
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-note *ngIf="labRecentValues[i] != null">
              Latest value of <ion-note color="danger">{{labRecentValues[i].labValue}}</ion-note> on
              {{labRecentValues[i].date | date: 'MM/dd/yyyy'}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>