<ion-header>
  <ion-toolbar>
    <ion-title>{{patient.firstName}} {{patient.lastName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-title>Record labs here and view patient history.</ion-title>
  </ion-item>
  <ion-list>
    <ion-item button="true" *ngFor="let labType of labTypes; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm>
            <ion-label>{{labType.labType}}:</ion-label>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-input [(ngModel)]="values[i]" type="number" required="true" clearInput="true" inputMode="numeric" placeholder="Enter Value"
              color="primary"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-button color="light" (click)="createLab(labType, i)">
              <ion-label>
                <ion-icon name="ios-add-circle"></ion-icon>&nbsp;Record Value
              </ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-text>
              <ion-icon name="ios-calendar"></ion-icon>&nbsp;Today
            </ion-text>
          </ion-col>
          <ion-col size="12" size-sm>
            <ion-button color="light" (click)="viewLabHistoryPage(labType)">
              <ion-icon name="ios-filing"></ion-icon>&nbsp;View History
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-note color>Latest value of <ion-note color="danger">xxxxx</ion-note> on 'MM/dd/yyyy'
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-list>
    <ion-item *ngFor="let lab of labs">
      <ion-grid>
        <ion-row>
          <ion-label>{{lab.labType}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note color="medium">{{lab.labValue}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{lab.date | date: 'MM/dd/yyyy'}} {{lab.date | date: 'hh:mmaa'}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->